* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Barlow", sans-serif;
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar projects";
}

.header {
  border: 2px solid black;
  background-color: white;
  grid-area: header;
}

.search {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  align-items: center;
  /* gap: 2rem; */
}

.search-top {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.search-bottom {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-self: end;
}

.search-bottom-user-info {
  display: grid;
  grid-template-areas:
    "user-img greeting"
    "user-img user-tag";
}

.search-bottom-user-info > svg {
  grid-area: user-img;
}

.search-bottom-user-info > p.search-greeting {
  grid-area: greeting;
}

.search-bottom-user-info > p.search-usertag {
  grid-area: user-tag;
}

.search-bottom-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.search-bottom-btns > .search-bottom-btn {
  padding: 0.4rem 2rem;
}

.sidebar {
  border: 2px solid black;
  background-color: lightblue;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
}

.sidebar > .logo {
  margin-left: 2rem;
  font-weight: bolder;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
}

.logo > h1 {
  width: 100%;
  font-size: 2.5rem;
}

.dashboard-logo {
  text-align: center;
  width: 3.5rem;
  justify-self: start;
}

.prefs {
  display: grid;
  place-items: center;
}

.prefs-options > li,
.settings-options > li {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.5rem;
  list-style-type: none;
}

svg {
  width: 2rem;
}

.projects {
  border: 2px solid black;
  background-color: lightgrey;
  grid-area: projects;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    "proj proj ann-tr"
    "proj proj ann-tr"
    "proj proj ann-tr";
}

.projects-your-projs {
  display: grid;
  grid-template: 0.5fr 1fr 1fr 1fr /1fr 1fr;
  grid-template-areas:
    ". ."
    "proj1 proj2"
    "proj3 proj4"
    "proj5 proj6";
  gap: 20px;
  padding: 10px;
  place-items: stretch;
  grid-area: proj;
}

.projects-your-projs,
.projects-announce {
  margin-bottom: 3rem;
}

.your-proj,
.announce,
.trending {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  align-self: stretch;
}

.your-proj {
  display: grid;
  place-items: center;
}

.projects-announce {
  grid-area: ann-tr;
}

[data-proj="1"] {
  grid-area: proj1;
}

[data-proj="2"] {
  grid-area: proj2;
}
[data-proj="3"] {
  grid-area: proj3;
}
[data-proj="4"] {
  grid-area: proj4;
}
[data-proj="5"] {
  grid-area: proj5;
}
[data-proj="6"] {
  grid-area: proj6;
}

.projects-announce {
  display: grid;
  grid-template-rows: 0.1fr 2fr 0.1fr 2fr;
  place-items: center;
}
