* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Barlow", sans-serif;
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr / 1fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar projects";
}

.header {
  border: 2px solid black;
  background-color: white;
  grid-area: header;
}

.search {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  align-items: center;
  /* gap: 2rem; */
}

.search-top {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.search-bottom {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-self: end;
}

.search-bottom-user-info {
  display: grid;
  grid-template-areas:
    "user-img greeting"
    "user-img user-tag";
}

.search-bottom-user-info > svg {
  grid-area: user-img;
}

.search-bottom-user-info > p.search-greeting {
  grid-area: greeting;
}

.search-bottom-user-info > p.search-usertag {
  grid-area: user-tag;
}

.search-bottom-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.search-bottom-btns > .search-bottom-btn {
  padding: 0.4rem 2rem;
}

.sidebar {
  border: 2px solid black;
  background-color: lightblue;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
}

.sidebar > .logo {
  margin-left: 2rem;
  font-weight: bolder;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
}

.logo > h1 {
  width: 100%;
  font-size: 2.5rem;
}

.dashboard-logo {
  text-align: center;
  width: 3.5rem;
  justify-self: start;
}

.prefs {
  display: grid;
  place-items: center;
}

.prefs-options > li,
.settings-options > li {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.5rem;
  list-style-type: none;
}

svg {
  width: 2rem;
}

.projects {
  background-color: lightgrey;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    "headings headings"
    "projects anntr";
}

.headings {
  grid-area: headings;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 0.5rem;
}

.headings > h1 {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.headings > h1:nth-child(1) {
  border: 2px solid blue;
}

.headings > h1:nth-child(2) {
  border: 2px solid red;
  margin-right: 22rem;
}

.projects-your-projs {
  grid-area: projects;
  display: grid;
  gap: 1rem;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.your-proj,
.announce,
.trending {
  background-color: #fff;
  padding: 1rem;
}

.projects-announce {
  grid-area: anntr;
  display: grid;
  grid-template-rows: 1.5fr 0.5fr 1.5fr;
  margin-left: 1rem;
}
