* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  cursor: url(./static/mole-game/cursor.png), default;
  background-image: url(./static/mole-game/background.png);
  height: 100vh;
}

body,
.container,
.mole-holes {
  width: 100vw;
}

.container {
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worm {
  margin-right: auto;
  padding-top: 3rem 100rem 0 0;
  max-width: 0%;
  overflow: hidden;
}

.mole-holes {
  display: flex;
  flex-direction: column;
}

.mole-row {
  display: flex;
  justify-content: space-around;
}

.mole-hole {
  height: 250px;
  width: 250px;
  background: #000;
  border-radius: 100%;
}

.mole {
  position: relative;
  right: 35px;
  top: 5px;
  margin-right: 100px;
}

.hidden {
  display: none;
}
