* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

.calc-container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.calc-container div {
  display: flex;
  background-color: #d8d9db;
  flex-basis: 6;
  height: 100px;
}

div.type-resp {
  background-color: #000;
}

.clbd, .senm, .ffss, .ottp, .ze {
  display: flex;
  justify-content: center;
}

.clbd .clear {
  flex: 2;
}

.clbd .back,
.clbd .divide,
.senm > div,
.ffss > div,
.ottp > div {
  flex: 1;
}

.ze .zero {
  flex: 3;
}

.ze .eq {
  flex: 1;
}

div.clbd > div.divide,
div.senm > div.mult,
div.ffss > div.sub,
div.ottp > div.add,
div.ze > div.eq {
  background-color: #df974c;
}