* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.calc-container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;;
  background-color: #000;
}

.calc-container div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.calc-container button {
  background-color: #d8d9db;
  height: 100px;
  flex: 5;  
  border-right: none;
  border-bottom: none;
}

div.type-resp {
  color: white;
}

.clbd, .senm, .ffss, .ottp, .ze {
  display: flex;
  justify-content: space-evenly;
}

.clbd .clear {
  flex: 51%;
}

.clbd .back,
.clbd .divide,
.senm > button,
.ffss > button,
.ottp > button {
  flex: 25.5%;
}

.ze .zero {
  flex: 74.5%;
}

.ze .eq {
  flex: 24.5%;
}

div.clbd button:last-child,
div.senm button:last-child,
div.ffss button:last-child,
div.ottp button:last-child,
div.ze button:last-child {
  background-color: #df974c;  
  color: white;
}