* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
.mylibrary {
  padding: 2rem;
}

.page-container {
  border: 2px solid black;
  text-align: center;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close-modal {
  color: #aaa;
  position: relative;
  top: -25px;
  left: 310px;
  font-size: 2.5rem;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #fefefe;
  margin: 11% auto;
  padding: 3rem;
  border: 1px solid #888;
  width: 40%;
}

.modal-content > h1 {
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.form-row {
  margin: 0.8rem 0;
  font-size: 1.2rem;
}

.form-row > label {
  display: inline-block;
  width: 250px;
}

.form-row > input {
  height: 1.5rem;
}

.form-row:last-child {
  margin-top: 2.5rem;
  text-align: center;
}

.form-row > button {
  padding: 1rem 2rem;
}

.add-book {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
}

.add-book:hover {
  cursor: pointer;
}

.mylibrary {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  border: 2px solid blue;
}

.book-card {
  border: 2px solid red;
  min-width: 20%;
  padding: 2rem;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
