* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
.mylibrary {
  padding: 2rem;
}

.page-container {
  border: 2px solid black;
  text-align: center;
}

.add-book {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
}

.add-book:hover {
  cursor: pointer;
}

.mylibrary {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  border: 2px solid blue;
}

.book-card {
  border: 2px solid red;
  min-width: 20%;
  padding: 2rem;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
