* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container {
  border: 3px solid black;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.page-left-container {
  border: 3px solid red;
  display: flex;
  flex-basis: 40%;
  width: 100vw;
}

.logo-div {
  border: 3px solid green;
  margin-top: 11rem;
  height: 15%;
  width: 100%;
}

.page-right-container {
  font-family: "Nanum Gothic Coding", monospace;
  border: 3px solid red;
  flex-basis: 60%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.overview-container,
.form-container,
.confirmation-container {
  border: 3px solid orange;
  flex: 1;
  padding: 0 3rem;
}

.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2rem;
}

.overview-container p {
  margin: 1.8rem 0;
}

.form-container form {
  display: flex;
  justify-self: center;
  padding: 2rem 0;
}

.form-container form section {
  border: 3px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.form-container h1 {
  margin-top: 1rem;
}

.confirmation-container button {
  font-size: 1.3rem;
  margin: 2rem 0;
  padding: 1rem 5rem;
}

.confirmation-container p {
  font-size: 1.3rem;
}

.confirmation-container a {
  text-decoration: none;
}
