* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

.nav-header {
  background-color: #218380;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: 2rem;
}

.high-score-button {
  border: none;
  background-color: #218380;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.reset {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #218380;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
}

.reset:hover {
  background-color: #ffffffe7;
  border: 1px solid #ffffff6b;
}

.button-question:last-child {
  margin-bottom: 5rem;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem;
}

.start-quiz-section,
.question-section,
.final-score-section,
.show-high-scores {
  border: 2px solid grey;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 35rem;
  width: 80%;
  padding: 5rem 0 1rem 8rem;
}

.start-quiz-section {
  gap: 2rem;
}

.question-section {
  gap: 0.6rem;
}

.final-score-section,
.show-high-scores {
  justify-content: flex-start;
}

.final-score-section {
  gap: 2rem;
}

.show-high-scores {
  gap: 0.5rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.start-quiz-section > p {
  font-size: 1.8rem;
}

.start-button,
.button-question {
  background-color: #218380;
  border: 2px solid #218380;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
}

.start-button {
  padding: 1.5rem 1rem;
}

.button-question {
  text-align: left;
  padding: 1.5rem 1rem;
  width: 90%;
}

.hidden {
  visibility: hidden;
  display: none;
}

.message {
  margin: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.incorrect-answer {
  border: 2px solid red;
  color: red;
}

.reset {
  border: none;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #fefefe;
  margin: 11% auto;
  padding: 3rem;
  border: 1px solid #888;
  width: 40%;
}

.modal-content > h1 {
  font-size: 3.5rem;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.close-modal {
  color: #aaa;
  position: relative;
  top: -25px;
  left: 310px;
  font-size: 4rem;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:active {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
