* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.all-content {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "side-nav main-content";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: minmax(250px, 1fr) 4fr;
}

.header {
  background-color: #7eacc4;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  font-size: 2.2rem;
  height: 13vh;
  grid-area: header;
  border: 1px solid black;
}

.side-nav,
.main-content {
  height: 87vh;
}

.side-nav {
  border: 1px solid red;
  grid-area: side-nav;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.side-nav-btn {
  text-align: left;
  width: 100%;
  padding: 0.8rem 1.8rem;
  font-size: 1.1rem;
  border: none;
  background-color: #fff;
}

.side-nav-btn:hover,
.side-nav-btn:active,
.active {
  background-color: lightgrey;
  border-radius: 2px;
  cursor: pointer;
}

.side-nav > h2 {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.main-content {
  border: 1px solid blue;
  grid-area: main-content;
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
}

.heading-container {
  border: 1px solid green;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.task-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.task-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.add-task-btn {
  background-color: #7eacc4;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.add-task-btn:hover {
  background-color: #9fb5c1;
  cursor: pointer;
}
